<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Portfolio</title>
 </head>
  <body>
   <div class="I_Am">
    <div class="Transparency_I_Am">

    <h1>Hello, I am Oresti.</h1>
     <p>I am a full stack web developer recently graduated from The Iron Yard and have created this whole site from scratch myself. I am the co-proprieter of B&O Business Consulting which helps various types of start ups hit the ground running.  I am a mixologist who enjoys using new and fresh ingredients to create revolutionary cocktails.  I am a creative chef that thrives in Mediterranean style food.  I am a father of four and husband to one.  I am a trilingual immigrant who has enjoyed living and raising my kids in the great USA </p>
    </div>

   </div>
   <div class="Hire">
    <div class="Transparency_Hire">
    <h4>I love helping people overcome challenges in their profesional &/or personal lives. Thats an amasing feeling!</h4>
   </div>
   </div>


 </body>
</html>
